<!doctype html>
<title>Adaptive Web Assignment UserProfile page</title>
{% if name %}
  <h1 align ="center">Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
<p><a href = "https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15">https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15</a></p>
<table>
  <tr>
    <th>Login History</th>
  </tr>
  	{% for time in datelist %}
    <tr><td>{{time}}</td></tr>
    {% endfor %}
  <form action="/logout" method="post"><button name="username" value={{name}}>Log Out</button></form>
